/240321142610_materi_algoritma_dan_struktur_data_2_2b___input_ouput_dan_operator.pdf
/arimatika.py
/input_output.py
/operator_penugasan.py
/pe.py
/pembanding.py
/tipe_data.py
/tugas.py
/type_data_tugas.py